<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <div class="content-left">
                <div class="searchBar">
                    <form>
                        <input type="text" class="searchText" placeholder='Location'>
                    </form>
                </div>
            </div>
            <div class="content-right">
                <p class="cityName"></p>
                <div class="weatherInfo">
                    <div class="discription">
                        <p class="discriptionText"></p>
                    </div>
                    <h1 class="temperature"></h1>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/app.js"></script>

</body>

</html>